[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/raas-starter-kit"]
	path = lib/raas-starter-kit
	url = https://github.com/lighthouse-web3/raas-starter-kit
